.scrollPanelCssFileIndicator{color:black;} /*this is here to show which file in browser debug*/


.panelTab{

}

.tabControlGuts{

}

.contentListActivator{

}



.mainContentContainer{
}

#panelContainer{

}

#tabList{

}

.sliderTopControls{

}

.masterPanelList{

}

#contentList{

}

.switchablePanel{
border:1pt solid gray;
width100%;
height:100%;
}

#tabDisplayContainer{

}

.scrollItem{
position:relative;
}


.menuActivateButton{
border: 1pt solid #DDDDDD;
cursor: pointer;
font-size: 160%;
height: 40px;
position: absolute;
right: 0;
top: 0px;
width: 100px;
padding:10px 0px 0px 0px;
}

.menuActivateButton:hover{
background:#eee;
}

.navSubsequentPanels{
background:rgba(255,208,63,.7);
}

.navFrontPanel{
bottom:10px;left:10px;
background:white;
}

.tabList{

height:72px;width:90%;font-size:24pt;

position:absolute;
display:block;
color:red;
z-index:1000;

}

.panelTab{

display:block;
float:left;
font-size:130%;
margin:10px 10px;
padding:0px 10px;
border:2pt solid black;
background:white;
}

.panelTab a{ color:black;
}

.panelTab:hover{
background:#eee;
}

.navActive{
opacity:1.0;
}

.navInactive{
opacity:.5;
}