.scrollPanelCssFileIndicator{color:black;} /*this is here to show which file in browser debug*/


.panelTab{

}

.tabControlGuts{

}

.contentListActivator{

}



.mainContentContainer{
}

#panelContainer{

}

#tabList{

}

.sliderTopControls{

}

.masterPanelList{

}

#contentList{

}

.switchablePanel{
border:1pt solid gray;
width100%;
height:100%;
}

#tabDisplayContainer{

}

.scrollItem{
position:relative;
}


.menuActivateButton{
	height:40px;width:100px;position:absolute;top:0px;right:0px;
	border:1pt solid #ddd;
	cursor:pointer;
}


.navSubsequentPanels{
background:rgba(255,208,63,.7);
}

.navFrontPanel{
bottom:30px;left:30px;
background:white;
}

.tabList{

font-family: "lazySunday", sans-serif;
height:72px;width:90%;font-size:24pt;

position:absolute;
display:block;
color:red;
z-index:1000;

}

.panelTab{

display:block;
float:left;
font-size:130%;
margin:10px 10px;
border:2pt solid black;
background:white;
}

.panelTab a{ color:black;
}

.panelTab:hover{
background:#eee;
}